@font-face {
  font-family: "阿里黑体";
  /* //重命名字体名 */
  src: url("阿里汉仪智能黑体AliHYAiHei.ttf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "思源黑体medium";
  /* //重命名字体名 */
  src: url("思源黑体CN-Medium.otf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "思源黑体normal";
  /* //重命名字体名 */
  src: url("思源黑体CN-Normal.otf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "思源黑体light";
  /* //重命名字体名 */
  src: url("思源黑体CN-Light.otf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "思源黑体regular";
  /* //重命名字体名 */
  src: url("思源黑体CN-Regular.otf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "思源黑体bold";
  /* //重命名字体名 */
  src: url("思源黑体CN-Bold.otf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "思源宋体bold";
  /* //重命名字体名 */
  src: url("思源宋体-Bold.otf");
  /* //引入字体 */
  font-weight: normal;
  font-style: normal;
}
